<% layout("layouts/boilerplates") %>

<div class="edit-wrapper">
  <div class="edit-box">

    <div class="edit-header">
  <h2>📝  Edit Listing</h2>
      <p>Update your property details below</p>
    </div>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">

      <div class="input-group">
        <input type="text" name="listing[title]" 
               value="<%= listing.title %>" required>
        <label>Title</label>
      </div>

      <div class="input-group">
        <textarea name="listing[description]" required><%= listing.description %></textarea>
        <label>Description</label>
      </div>

      <div class="input-group">
        <input type="text" name="listing[image][url]" 
               value="<%= listing.image.url %>">
        <label>Image URL</label>
      </div>

      <div class="row">
        <div class="input-group">
          <input type="number" name="listing[price]" 
                 value="<%= listing.price %>" required>
          <label>Price (₹)</label>
        </div>

        <div class="input-group">
          <input type="text" name="listing[country]" 
                 value="<%= listing.country %>" required>
          <label>Country</label>
        </div>
      </div>

      <div class="input-group">
        <input type="text" name="listing[location]" 
               value="<%= listing.location %>" required>
        <label>Location</label>
      </div>

      <button class="btn-save">Update Listing</button>

    </form>
  </div>
</div>
